body {
 
  margin: 0;
  
  font-family: Helvetica, sans-serif;
  
}


/* Banner Start */


.banner {
  overflow: hidden;
  


}

.banner-bg {
 position: fixed;
 top: 0;
 left: 0;
  width: 100%;
height: 100px;
background-image: url('./asset/banner.jpg');
background-repeat: no-repeat;
background-size: auto;
/* margin-left: 0vw; */
object-fit:cover;
z-index: 2 ;
}

.banner-bg {
  display: block;
  height: 8.2em;
  
}

/* .banner-txt{
  display: block;
  margin-left: auto;
  margin-right: auto;
} */


.banner-txt {
  position: fixed;
  width:100%;
  height:auto;
  border:0px solid #CCC;
  /* margin-left: 1em; */
  text-align: center;
  z-index:4;
  margin: 3% auto;
  left: 0;
  right: 0;
}

.banner-txt {
  /* position:relative; 
  top: 1em; */
  /* z-index:4; */
  /* text-align: center;
  align-items: center;
  user-select: none; 
  
   */
}

.logo-img {
  /* position: fixed;
  max-width:120px;
  height:auto;
 
  border:2px solid #CCC;
  margin-left: 1em;
  text-align: center;
  z-index:3;
  margin: 3% auto;
  left: 0;
  right: 0; */

  /* position: fixed;
  top: 0em;
  left: 1vw;
  width: 18%; 
  height:auto; 
  max-width:120px; */

  position: fixed;
  
  max-width:120px;
  height:auto;
  float: left;
  margin-top: 1vh;
  z-index:4;

}





@media (max-width: 34em) {


  .logo-img{
    width: 5em;
  }
  
  .banner-txt{
    /* margin-left: 2em; */
    height: 4em;
    
    /* text-align: left; */
    margin-left: 2.5em !important;
    font-size: 2em;
  }

  .banner-txt{
    display: block;
    width: 9em;
    /* margin-top: 0em; */
    /* margin-left: 1em; */
    
  }

  .banner-bg{
    display: block;
  height: 10em;
  }
}


@media only screen and (min-width:34em) and (max-width:48em) {

  
  .banner-txt{
    /* height: 8em; */
    /* margin-left: em; */
    
  }

  .banner-txt{
    display: block;
    width: 20em !important;   
    margin-left: 12em;
    
  }

  


  
}









@media (max-width: 48em) {
  /* .banner-txt{
       display: block;
       margin-left: 2em !important;
  } */


}



/* Banner End */


.menu-link {
  color: #fff !important;
  text-decoration: none;
  user-select: none;
}

/* header */

.header {
  display: block;
  margin-top: 8em;
 
}

.header {
  background: rgb(138,232,54);
background: linear-gradient(90deg, rgba(138,232,54,1) 0%, rgba(54,218,81,1) 76%, rgba(11,177,86,1) 99%);
  
  /* background: rgb(202,99,228);
background: linear-gradient(90deg, rgba(202,99,228,1) 0%, rgba(226,34,227,1) 76%, rgba(166,56,185,1) 99%); */
  box-shadow: 1px 1px 4px 0 rgba(209, 197, 197, 0.1);
  position: fixed;
  width: 100%;
  z-index: 3;
 
}



.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  
}

.header li a {
  display: block;
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  margin-right: 0.1em;
  padding: 20px 20px;
  text-decoration: none;
  text-align: center;
}



.header li a:hover,
.header .menu-btn:hover {
  /* background-color: rgb(138,232,54); */
  
  color: rgb(23, 126, 12) !important;
  transition: all 0.5s ease-out;
}



.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  float: right !important;
  padding: 35px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .nav-icon {
  background: #333;
  display: block;
  height: 2.1px;
  position: relative;
  transition: background .2s ease-out;
  width: 22px;
}

.header .menu-icon .nav-icon:before,
.header .menu-icon .nav-icon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
  
}

.header .menu-icon .nav-icon:before {
  top: 5px;
}

.header .menu-icon .nav-icon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}
/*  For Model Change */
.header .menu-btn:checked ~ .menu {
  max-height: 740px;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:before {
  transform: rotate(-45deg);
  top:0;
}

.header .menu-btn:checked ~ .menu-icon .nav-icon:after {
  transform: rotate(45deg);
  top:0;
}
/*  */

/* 48em = 768px @ 16pt font */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
}


/*  */

.bg-footer {
  /* background: rgb(202,99,228);
  background: linear-gradient(90deg, rgba(202,99,228,1) 0%, rgba(226,34,227,1) 76%, rgba(166,56,185,1) 99%); */
  background: #36da51;
  padding: 50px 0 30px;
}
.footer-heading {
  letter-spacing: 2px;
}

.footer-link a {
  color: #fff;
  line-height: 40px;
  font-size: 14px;
  transition: all 0.5s;
}

.footer-link a:hover {
  color: #1bbc9b;
}

.contact-info {
  color: #fff;
  font-size: 14px;
}

.footer-social-icon {
  font-size: 15px;
  height: 34px;
  width: 34px;
  line-height: 34px;
  border-radius: 3px;
  text-align: center;
  display: inline-block;
  padding-top: 8px;
}

.facebook {
  background-color: #4e71a8;
  color: #ffffff;
}

.instagram {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  color: #ffffff;
}

.google {
  background-color: #d6492f;
  color: #ffffff;
}



.footer-alt {
  color: #fff;
}

.footer-heading {
  position: relative;
  padding-bottom: 12px;
}

.footer-heading:after {
  content: '';
  width: 25px;
  border-bottom: 1px solid #FFF;
  position: absolute;
  left: 0;
  bottom: 0;
  display: block;
  border-bottom: 1px solid #1bbc9b;
}


.pos{
  color: #fff;
  float: none;
  text-transform: uppercase;
 
}
.pos {
 
  padding-bottom: 1em;
  text-decoration: underline;
  text-decoration-color: #1bbc9b;
  text-underline-offset: 1em;
  
}


/*  */


  /*  */

.content-pos {
   display: block;
   margin-top: 18vh;

}




.content-align {
  text-align: center;
  
 
}

.content-body {
  margin: auto;
  border: 0px solid whitesmoke;
  width:  80%;
  background-color: white;
  margin-top: 4%;
  text-align: justify;
  letter-spacing: 0.0625em;
  word-spacing: 0.3em;
  line-height: 1.6;
  
}


.p-spcaing {
  padding-top: 1em;
  
}

  /*  */

  .author-link {
    color: none !important ;
  }




  /*  */
  
  

  /*  */

  .navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: rgb(40, 118, 192);
    text-decoration: none;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em ;
    padding-left: 30px;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em ;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc ;
    color: #fff ;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}

  /*  */

 .img-size {
   height: 470px;
   width: 100vw;
   object-fit: cover;
   object-position: center;
 }

 @media (max-width: 48em) {
  .img-size {
    height: 350px;
    width: 100vw;
    object-fit: cover;
  }
 

}


 



 ul li ul.dropdown-c {
  width: 12em; /* Set width of the dropdown */

  display: none;
  position: absolute;
  z-index: 999;
  
}



ul li:hover ul.dropdown-c {
  display: block; /* Display the dropdown */
  
  background: #36da51;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 1px 1px 0px inset, rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  overscroll-behavior: contain;
 
}

ul li ul.dropdown-c li {
  display: block;
  
  
}


.ul-design {
  color: #fff;
  background: #36da51;
}


/*  */

.flex-main {
    display: flex;
    flex-direction: row;
}

.image-size-e {
  
    height: 500px;
    width: 40vw;
    object-fit: cover;
  
}


@media (max-width: 48em) {
  .image-size-e {
  
    height: 500px;
    width: 100vw;
    object-fit: cover;
  
}
}
/*  */

.developer-a {
  display: block;
  text-decoration: none !important;  
  color: #fff;
  text-transform: none;
}

.developer-a:hover {
   
  color: rgb(23, 126, 12) !important;
  transition: all 0.5s ease-out;
}

.pass-photo{
  display: block;
  /* border: 2px solid #333;
  border-radius: 50%; */
  margin-left: auto;
  margin-right: auto;
  height: 16em;
  width: 15em;
  aspect-ratio: 1 / 1;
  padding-left: 1em;
  padding-right: 1em;
  object-fit: cover;
  margin-bottom: 2em;
  margin-top: 2em;
  object-fit: cover;
  object-position: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 4px;
}


.overlay-gallery{
  margin-bottom: 2em;
}

.overlay-gallery {
  position: absolute; 
  bottom: 0em; 
  background: none;
  background: rgba(104, 100, 100, 0.5); 
  color: #fff; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  font-size: 20px;
  /* padding-top: em; */
  padding: 20px;
  text-align: center;

}

.developer-box{
   display: block;
   margin-left: auto;
   margin-right: auto;
  border: 0px solid #9e3cdf;
  border-radius: 8px;
  width: 20em;
  height: 10em;
  background: #202442;
  margin-top: 4em;
  margin-bottom: 2em;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.head-dev {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2.5em;
}

.head-dev {
  border: 0px solid #9e3cdf;
  border-radius: 8px;
  width: 30em;
  height: 5em;
  background: #202442;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.head-dev p {
  text-align: center;
  color: #CCC;
  padding-top: 0.5em;
  font-size: 1.8em;
  font-weight: 500;
}

.g-dev {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
}

.g-dev{
  background-color: #41cd7d;
  width: 6em;
  height: 0.2em;
  border-radius: 5px;
}

@media (max-width: 48em) {
  .head-dev {
    width: 100vw;
  }
}


.ma-dev {
  background-color: #33385A;
}

.logo-dev{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.icon-dev {
  font-size: 1.4em !important;
  color: #272B48;
  border: 0px solid #CCC;
  border-radius: 50%;
  border-width: 0.4em;
  
  background-color: #CCC;
}

.subh-dev{
  text-align: center;
  font-size: 0.9em;
  margin-top: -1em;
  color: #F3BF99;
}

.developer-txt {
  color: #CCC;
  text-align: center;
  font-size: 1.4em;
  padding-top: 1em;
  padding-bottom: 0em;
  font-weight: 500;
}

.developer-box2{
  display: block;
   margin-left: auto;
   margin-right: auto;
  border: 0px solid #9e3cdf;
  border-radius: 8px;
  width: 20em;
  height: 10em;
  background: #202442;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.developer-txt2 {
  padding-top: 1em;
  color: #CCC;
  text-align: center;
  font-size: 1.4em;
  padding-bottom: 0em;
  font-weight: 500;
}

.developer-link{
  text-decoration: none;
  text-transform: none;
  color: rgb(10, 58, 58);

}


.developer-link:hover {
  color: #1bbc9b;
}

.gallery-pos {
  display: block;
  padding-top: 7em;
  padding-bottom: 2em;
  background: linear-gradient(45deg, rgba(152, 252, 128, 0.4), rgba(145, 235, 110, 0.3));
}

.gallery-border{
  position: relative;
  width: 50%;
  max-width: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 2.5em;
 
}


.developer-box3{
  display: block;
  margin-left: auto;
  margin-right: auto;
 border: 0px solid #9e3cdf;
 border-radius: 8px;
 width: 20em;
 height: 10em;
 background: #202442;
 margin-top: 2em;
 margin-bottom: 2em;
 box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.developer-txt3 {
  padding-top: 1em;
  color: #CCC;
  text-align: center;
  font-size: 1.4em;
  padding-bottom: 0em;
  font-weight: 500;
}


.pass-gal {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
  border-radius: 10px;
  
}

.pass-gal {
  box-shadow:
  rgb(40, 40, 40, 0.1) 0px 2px 3px,
  rgb(20, 20, 20, 0.2) 0px 5px 8px,
  rgb(0, 0, 0, 0.25) 0px 10px 12px;
}

@media (max-width: 48em) {
  .gallery-border{
    width: 88%;
  }
}

.gallery-border:hover .overlay-gallery {
  transform: translateY(0);
    opacity: 1;
}

/*  */

.pnf-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #36da51;
  text-align: center;

}

.pnf-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 250px ;
  margin-bottom: 2em;
}

.pnf-text {
  margin-bottom: 1em;
}

.ad-container{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90vw;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.ad-btn {
  display: flex;
  flex-direction: row;
  margin-bottom: -1em;
}

.ad-text{
  padding-top: 1.5em;
 padding-bottom: 2em;
 padding-left: 1em;
 padding-right: 1em;
  text-align: center;
  color: #4abea7 !important;
  margin-bottom: 1.5em;
}

.ad-addf{
  padding-bottom: 2em;
  margin: 0 2em 2em 2em;
}

.ad-upbtn {
  display: block;

  margin-bottom: 2em;
  padding-left: 1em;
  margin-left: 2em;
  
  padding-bottom: 2em;
}

.ad-upbtn{
  display: flex;
  flex-direction: row;
  column-gap: 2em;
  justify-content: center;
  
}

@media (max-width: 48em) {
  .ad-upbtn{
    flex-direction: column;
    align-items: center;
    row-gap: 2em;

  }
}

.ad-cont-low{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90vw;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-top: -1em;
}


.a-photo{
  display: block;

  margin-left: auto;
  margin-right: auto;
  height: 16em;
  width: 24em;
  object-fit: cover;
  margin-bottom: 2em;
  margin-top: 2em;
}

@media (max-width: 48em) {
  .a-photo{
    padding-left: 1em;
    padding-right: 1em;
  }
}

.left-navpr {
  overflow-y: scroll; 
  height: 140vh; 
}

.inputcu:focus {
  border-color: #1bbc9b !important;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px #36da51 !important;
}

.carousel .carousel-indicators li {  
  background-color: #9affab; 
}

.carousel .carousel-indicators li.active { 
    background-color:  #1b6643
  }